h1{
    background: scroll;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    margin: 10px;
    padding: 20px;
    display: inline-block;
    font-size: 35px;
    font-style: oblique;

}

a{
    background-color:rgb(11, 209, 209);
    color:rgb(32, 31, 31);
    margin: 5px;
    padding: 10px;
    display: block
    



}
body{background-color: rgb(91, 13, 163);}
